<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="aaaEntities" connectionString="metadata=res://*/Aaa.csdl|res://*/Aaa.ssdl|res://*/Aaa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-RMO05H8\SQLEXPRESS;initial catalog=aaa;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name ="dbsrv1" connectionString="metadata=res://*/TestLibrary.csdl|res://*/TestLibrary.ssdl|res://*/Tes
        tLibrary.msl;provider=System.Data.SqlClient;provider connection string=&quot;data
        source=dbsrv1;initial catalog=TestLibrary;user id=ИСп-1-23-7;password=112233;
        encrypt=False;MultipleActiveResultSets=True;App=EntityFramework&quot;"
        />
  </connectionStrings>
</configuration>